@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
body {
  font-family: "Roboto", sans-serif;
  margin: 12px;
  background-color: #edf6f9;
  max-width: 800px;
}

.recipe-card {
  background-color: #f7dba7;
  scale: 50%;
}

.category-card {
  box-shadow: 2px 2px 5px #83c5be;
  background-color: #83c5bf91;
}

.swiper-wrapper {
  padding-top: 20px;
  padding-bottom: 20px;
}

.discover-img {
  box-shadow: 2px 2px 5px #83c5be;
}

.trending-card {
  box-shadow: 2px 2px 5px #83c5be;
}
.text-2xl {
  color: #006d77;
  font-weight: bold;
}

.hero-card {
  border-color: #83c5be;
}

.pantry-container .category-card {
  width: 30%;
}
