@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
  font-family: "Nunito", sans-serif;
  margin: 12px;
}

.recipe-card {
  background-color: #f7dba7;
  scale: 50%;
}

img {
  width: 50%;
  height: auto;
}
